<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Regression Suite">
    
    <test thread-count="5" name="Admin Panel Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AddingCustomerTest"/>
            <class name="tests.CustomersTest"/>
            <class name="tests.CatalogTest"/>
            <class name="tests.SalesTest"/>
            <class name="tests.PromotionTest"/>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>
</suite>